 *{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif, "Roboto";
}
.bg{
    background-image: url(../img/programming-7649719_1280.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: white;
}
.help-center{
    display: flex;
    justify-content: right;
    gap: 25px;
   margin-right: 25px;
    padding-top: 15px;
}
.help-center a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
}
.navbar{
display: flex;
justify-content: space-between;
background-color: white;
margin-top: 10px;
height: 11%;
padding-top: 10px;
padding-bottom: 10px;

}
.navbar a{
    color:black;
    text-decoration: none;
    width: 100%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 12px;
    padding-top: 25px;
}
.logo{
    font-size: 46px;
    margin-left: 20px;
    padding-top: 10px;
}
span{
    color: red;
    font-style: bold;
    font-size: 40px;
}

.contact-us{
    margin-top: 25px;
}

.contact-us a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid rgb(50, 50, 192) ;
    padding: 12px 28px;
    border-radius: 15px;
    background-color: rgb(50, 50, 192);
}


.tagline{
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 10%;
   
}
.tagline h4{
    font-size: 45px;
}
.tagline p{
    font-size: 24px;
    margin-top: 3%;
}
.book4demo{
    margin-left: 10%;
    margin-top: 5%;
}
.book4demo a{
    color: rgb(50, 50, 192);
    text-decoration: none;
    font-size: 16px;
    border: 2px solid white ;
    padding: 12px 28px;
    border-radius: 15px;
    background-color: white;
}