 * {
     padding: 0;
     margin: 0;
     font-family: "Montserrat", sans-serif, "Roboto";
 }

 .bg {
     background-image: url(../img/Home.jpg);
     width: 100%;
     height: 100vh;
     background-size: cover;
     color: white;
 }


 .help-center {
     display: flex;
     justify-content: right;
     gap: 25px;
     margin-right: 25px;
     padding-top: 15px;
 }

 .help-center a {
     color: whitesmoke;
     text-decoration: none;
     font-size: 14px;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     background-color: white;
     margin-top: 10px;
     margin-bottom: 10px;
     height: 11%;
     padding-top: 10px;
     padding-bottom: 10px;
     width: 100%;

 }

 .navbar a {
     color: black;
     text-decoration: none;
     width: 100%;
     
     
 }

 .navbar ul li {
     list-style: none;
     display: inline-block;
     font-size: 16px;
     /* padding: 30px 18px;
     padding-top: 25px; */
 }
 .navbar ul li a{
    font-weight: 500;
    font-size: 16px;
 }

 .logo {
     font-size: 46px;
     margin-left: 20px;
     /* padding-top: 10px; */
 }

 #x {
     color: red;
     font-style: bold;
     font-weight: 600;
     font-size: 60px;
     font-family: "Alex Brush", cursive;
 }

 #healthcare {
     color: #f8c954;
 }

 

 .contact-us a {
     margin-right: 20px;
     color: white;
     text-decoration: none;
     font-size: 16px;
     border: 2px solid #f8c954;
     padding: 12px 28px;
     border-radius: 15px;
     background-color: #f8c954;
 }


 .tagline {
     margin-left: 8%;
     margin-right: 15%;
     margin-top: 8%;

 }

 .tagline h1 {
     font-size: 70px;
     font-weight: 700;
 }

 .tagline p {
     font-size: 24px;
     margin-top: 3%;
 }

 .book4demo {
     margin-left: 12%;
     margin-top: 5%;
 }

 .book4demo a {
     color: black;
     text-decoration: none;
     font-size: 16px;
     border: none;
     padding: 12px 28px;
     border-radius: 15px;
     background-color: #f8c954;
 }

 .mission {
     margin-top: 5%;
     text-align: center;
 }

 .mission h2 {
    
    font-size: 30px;
    font-weight: 500;
     line-height: 1.3;
 }

 .mission p {
     margin-top: 3%;
     line-height: 2;
     font-size: 18px;
 }

 .kpi {
     margin-left: 4%;
     margin-right: 4%;
 }

 .accessible {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-top: 5%;
     gap: 4rem;
 }

 .accessible img {
     display: block;
     width: 100%;
     margin-top: 4%;
 }
 .accessible h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
 }
 .accessible p {
     line-height: 2;
     margin-top: 15px;
 }

 .sign {
     margin-top: 35px;
   

 }

 .sign a {
     color: #f8c954;
     font-weight: 500;
     text-decoration: none;
    
 }


 .mental-health {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-top: 5%;
     gap: 4rem;
 }

 .mental-health img {
     display: block;
     width: 100%;
 }
 .mental-health h2{
    font-size: 30px;
    font-weight: 500;
     line-height: 1.3;
 }

 .mental-health p {
     line-height: 2;
     margin-top: 15px;
 }

 .omni {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-top: 5%;
     gap: 4rem;
 }

 .omni img {
     display: block;
     width: 100%;
 }
 .omni h2{
    font-size: 30px;
    font-weight: 500;
     line-height: 1.3;
 }

 .omni p {
     line-height: 2;
     margin-top: 15px;
 }

 .motto h3 {
    font-size: 24px;
     text-align: center;
     margin-top: 5%;
     font-weight: 600;
 }

 /* User reviews */
 .user-reviews{
    margin-top: 5%;
    margin-right: 10%;
    
 }
 .user-reviews h2{
    font-size: 30px;
    font-weight: 700;
     line-height: 1.3;
     text-align: center;
 }
 .user-reviews p{
    text-align: center;
    font-size: 18px;
 }
 .carousel{
    height: 100vh;
    perspective: 250px;
 }

 .carousel.carousel-item{
    width: 450px;
  
 }
 .car-content{
    position: relative;
    margin: 0.5rem 0 0.5rem 0;
    background-color: #f8c954;
    width: 450px;
    height: 380px;
    color: black;
    border-radius: 30px;
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 8px 20px 0;
 }
 .car-content h5{
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
 }
 .car-content p{
    font-size: 16px;
    padding: 30px 35px;
 }
 /* Blog */
 .blog {
    margin-top: 5%;
     margin-left: 4%;
     margin-right: 4%;
 }
.center-text h2{
    font-size: 28px;
    font-weight: 600;
     line-height: 1.3;
     text-align: center;
}
 .blog-content {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, auto));
     align-items: center;
     gap: 1.7rem;
     /* margin-top: 4rem; */
 }

 .blog-img {
     overflow: hidden;
 }

 .blog-img img {
     display: block;
     width: 100%;
     height: 390px;
     object-fit: cover;
     transition: transform 0.6s;
     cursor: pointer;
     
 }

 .blog-img img:hover {
     transform: scale(1.1);

 }

 .blog-in {
     /* margin-top: 10px; */
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     gap: 30px;
     /* padding: 5px 30px; */

 }

 .blog-left h5 {
     font-size: 24px;
     font-weight: 800;
     margin-bottom: 5px; 
     /* padding: 3px 10px; */
 }

 .bbb-in h5 {
     padding: 3px 10px;
     border-radius: 2px;
     font-size: 14px;
     font-weight: 600;
 }

 .blog-right h4 {
     font-size: 22px;
     font-weight: 700;
     margin-bottom: 5px;
 }

 .blog-right p {
     color: gray;
     font-size: 14px;
 }

 .center-text h2 {
     text-align: center;
 }

 /* Footer */
 .footer {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     /* display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, auto)); */
     align-items: center;
     gap: 1rem;
     margin-top: 5%;
     margin-left: 4%;
     margin-right: 4%;
 }

 .footer a {
     text-decoration: none;
     color: black;
     
 }
 .footer-box-logo{
    margin-bottom: 3%;
    padding-bottom: 4%;
 }

 .footer-box-logo.logo {
     font-size: 46px;
     
 }

 

.footer-box-logo h5 {
     font-size: 22px;
     font-weight: 600;
     margin-bottom: 1.4rem;
     line-height: 1.3;
     padding-left: 20px;
 }

 .footer-box-logo span {
     color: red;
     font-style: bold;
     font-weight: 600;
     font-size: 60px;
     font-family: "Alex Brush", cursive;
 }
 .footer-box li{
    list-style-type: none;
 }

 .icons i {
     display: inline-block;
     color: black;
     margin-right: 10px;
     font-size: 24px;
     transition: all 0.7s ease;
     padding-left: 10px;
 }

 .icons i:hover {
     color: #f8c954;
     transform: rotate3d(0, 0, 1, 360deg);
 }

 .footer-box h3 {
     font-size: 18px;
     font-weight: 700;
     margin-bottom: 20px;

 }

 .footer-box li {
     margin-bottom: 14px;

 }

 .footer-box li a {
     display: block;
     color: black;
     font-size: 14px;
     transition: all 0.6s ease;
 }

 .footer a:hover {
     transform: translateY(-6px);
     color: #f8c954;
 }

 .copyright p {
     text-align: center;
     padding: 18px;
     font-size: 16px;
     font-weight: 500;
     color: black;
 }

 .scroll-btn {
     position: fixed;
     bottom: 2.9rem;
     right: 3.5rem;

 }

 .scroll-btn i {
     font-size: 26px;
     color: black;
     padding: 10px;
     border-radius: 10px;

 }
 .footer-box img{
    width: 50%;
 }